#question {
  border: solid #909090;
}

#answer-choices > div {
  border: solid #909090;
  border-top: none;
  padding: 3%;
  cursor: pointer;
}

#answer-choices > div:hover {
  background-color: #F7EB78;
}
